.about#about
    .container
        .about__title Немного фактов обо мне
        .about__block
            .about__container
                i.fa.fa-lightbulb-o.about__icon(aria-hidden="true")
                p.about__description Креативно умею переделывать чужие работы
            .about__container
                i.fa.fa-graduation-cap.about__icon(aria-hidden="true")
                p.about__description Абразован
            .about__container
                i.fa.fa-user-o.about__icon(aria-hidden="true")
                p.about__description Умею пользоваться компьютером.
            .about__container
                i.fa.fa-battery-full.about__icon(aria-hidden="true")
                p.about__description Полон энергии и заряда бодрости.
            .about__container
                i.fa.fa-mars-stroke.about__icon(aria-hidden="true")
                p.about__description Мужик.Никогда не болит голова.
            .about__container
                i.fa.fa-eur.about__icon(aria-hidden="true")
                p.about__description Готов работать за деньги.