.business-card#card
    .container
        .business-card__container
            .business-card__title Визитная карточка
            .business-card__message
                p.open-teg  &lt;card&gt;
                p.teg        &lt;name>Артур Бондаренко&lt;/name&gt;
                p.teg        &lt;title&gt;Безработный&lt;/title&gt;
                p.teg
                    a(href="tel:+371 20476819") &lt;mobile&gt;+371 20476819&lt;/mobile&gt;
                p.teg
                    a(href="mailto:artur36@inbox.lv") &lt;email&gt;artur36@inbox.lv&lt;/email&gt;
                p.close-teg  &lt;/card&gt;
