.flags
    ul.flags__list
        li.flags__item
            a.button__flag(href="#")
                img.button__flag__images(src="images/icons/lv.png" alt="picture")

        li.flags__item
            a.button__flag(href="#")
                img.button__flag__images(src="images/icons/us.png" alt="picture")

        li.flags__item
            a.button__flag(href="#")
                img.button__flag__images(src="images/icons/ru.png" alt="picture")