footer.footer
    .container
        span.arrow
            a.arrow__icon(href="#top")
                i.fa.fa-arrow-up(aria-hidden="true")
        .footer__social
            a(href="https://www.instagram.com/p_u_s_s_y_k_i_n_g_6_9/")
                img.footer__icon(src="images/social/instagram.svg" alt="picture")
            a(href="https://www.facebook.com/profile.php?id=100002494646532")
                img.footer__icon(src="images/social/facebook.svg" alt="picture")
            a(href="https://vk.com/id120654150")
                img.footer__icon(src="images/social/vk.svg" alt="picture")
            a(href="skype:artur368053")
                img.footer__icon(src="images/social/skype.svg" alt="picture")
            a(href="https://github.com/PussyKing")
                img.footer__icon(src="images/social/github.svg" alt="picture")

        p.footer__copyright Артур Бондаренко &copy;
