header.header#header
    .container
        .header__bar
            .header__left
                include flags
            .header__right
                include nav
        .header__hero__section
                include hero