.hero
    .container
        .hero__section
            img.hero__img.animated.fadeIn(src="images/1.jpg" alt="picture")
            h1.hero__title.animated.slideInLeft Артур Бондаренко
            p.hero__description.animated.slideInRight Устроим Моё Будущее вместе
            a.hero__button(href="#instructions") Scroll Down