section.instructions#instructions
    .container
        .instructions__container
            h2.instructions__title Всего 1 просто шаг
            .instructions__step  1
            .instructions__description Нанять меня на работу верстальщиком
            .btn
                a(href="https://vk.com/id120654150")
                    button(type="submit").instructions__button Нанять