.resume#resume
    .container
        .resume__block
            .resume__title Резюме
            blockquote.blockquote Парень. 23 года. Трудоспособен. Я не ксенофоб, ни нацист, ни расист, ни сексист, но я быстро учусь и ради этой работы готов на многое. За деньги готов работать и бесплатно. Чем я могу быть вам полезен? Я умею собирать пасьянс, просиживать штаны и делать умное лицо. Если описать себя 3 словами: умный, активный, смышлённый, внимательный.
            cite.blockquote__cite Артур Бондаренко
