.slider{
  background-color: #f2f2f2;
  opacity:0;  //for ScrollMagic
  transition: 1s; // For ScrollMagic
  &__title{
    text-align: center;
    font-size: 3.125rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__description{
    text-align: center;
    font-size:2.5rem;
    @media (max-width: 870px) {
      font-size:1.5rem;
    }
  }

  &__name{
    text-align: center;
    font-size: 3.125rem;
    @media (max-width: 600px) {
      font-size: 2rem;
    }

    &__description{
      text-align: center;
      font-size: 1.438rem;
    }
  }
}
.owl-carousel{
  padding-left: 0;
  &__item{
    margin: 0 auto;
    width: 20%;
    height: 20%;

    @media (max-width: 870px) {
      width: 25%;
    }
    @media (max-width: 600px) {
      width: 45%;
    }
  }
  &__img{
    border-radius: 50%;
    margin: 0 auto;
  }
}
button.owl-next{
  position: absolute;
  right: 0;
  @include centerer-y;
}
button.owl-next span{
  font-size: 8rem;
}
button.owl-prev{
  position: absolute;
  left: 0;
  @include centerer-y;
}
button.owl-prev span{
  font-size: 8rem;
}

.owl-dots {
  display: none;
}


/* For ScrollMagic */
.slider.show{
  opacity: 1;
}