.container {
  max-width: 1024px;
  margin: 0 auto;
}

html{
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body {
  font-family:$ff-main;
  font-size: 1rem;
  line-height: 1.2;
  
  @media (max-width: 760px) {
    width:1000px;
  }
}

//Animate css//

.animated{
  animation-delay: .3s;
}